header.page__header.main-header.klop#header
	.main-header__top#fixedMenu
		.container
			a(href="#header").logo.main-header__item.scrollto
				img(src="img/logo.png", alt="")
			.main-menu.main-header__item
				ul.main-menu__list
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#services") Услуги
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#features") Наши преимущества
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#price") Стоимость
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#howwork") Как мы работаем
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#questions-anchor") Частые вопросы
					li.main-menu__item: a.main-menu__link(class="scrollto" href="#contacts") Контакты
			.main-header__item
				a(href="tel:+795296589636").main-header__phone <span class="color-orange">+7 (952)</span> 9658-96-36
				span.main-header__phone.mail E-mail
					a(href="mailto:klopanet@inbox.ru") <span class="color-orange"> klopanet@inbox.ru</span>
	.container
		.main-header__body
			.column-50p
				h1 Уничтожение клопов и насекомых
				span.big-span в жилых и производственных помещениях<span>с честной гарантией <b class="orange-border">1 год</b></span>
				.main-header__footer
					a(href="#").button.button-orange.main-header__callback Отправить заявку

